@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: ;
    --foreground: ;
}
.teamcontainer {
    column-gap: 48px;
    row-gap: 64px;
    margin-top: 80px;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: ;
        --foreground: ;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
